
<!--############## QUESTION DETAILS ###############-->

<h2>Question:</h2>
<div class="question-display">
  <div class="question-content">
    <h3><%= @question.title %></h3>
    <p><%= @question.content %></p>
    <text class="question-details">created by <%= @question.user.full_name %> at <%= @question.created_at.strftime("%m-%d-%y at %H:%M") %></text>
    <% if current_user == @question.user %>
      <%= link_to "Edit", edit_question_path(@question) %>
      <%= link_to "Delete", question_path(@question), :method => "delete" %>
    <% end %>
  </div>

  <!--############## QUESTION VOTES ###############-->

  <div class="votes">
    <%= form_for :vote, url: '/votes', html: {class: "vote-form", "data-votable" => "question#{@question.id}"}, remote: true do |f| %>
      <%= f.hidden_field :value, value: 1 %>
      <%= f.hidden_field :votable_type, value: "Question" %>
      <%= f.hidden_field :votable_id, value: @question.id %>
      <button type="submit" name="button" class="upvote-button">
        <img src="/assets/upvote-arrow.png">
      </button>
    <% end %>
    <text class='vote_total' data-votable="question<%= @question.id %>">
      <%= @question.vote_total %>
    </text>
    <%= form_for :vote, url: '/votes', html: {class: "vote-form", "data-votable" => "question#{@question.id}"}, remote: true do |f| %>
      <%= f.hidden_field :value, value: -1 %>
      <%= f.hidden_field :votable_type, value: "Question" %>
      <%= f.hidden_field :votable_id, value: @question.id %>
      <button type="submit" name="button" class="downvote-button">
        <img src="/assets/downvote-arrow.png">
      </button>
    <% end %>
  </div>

  <!--############## QUESTION COMMENTS ###############-->


  <div class="comment-list" data-commentable="question<%= @question.id%>">
    <p class="comment-list-header">Question Comments:</p>
    <ul>
      <% @question.comments.each do |comment| %>
        <%= render partial: 'shared/comment_display', locals: { comment: comment } %>
      <% end %>
    </ul>
  </div>

  <!--############## NEW QUESTION COMMENT ###############-->

  <% if logged_in? %>
    <%= link_to "Add Comment", @question, :class => "comment-form-link" %>
    
    <div class="comment-form hidden">
      <%= form_for :comment, url: '/comments', html: { class: "new-comment", "data-commentable" => "question#{@question.id}"}, remote: true do |f| %>
        <%= f.hidden_field :commentable_type, :value => "Question" %>
        <%= f.hidden_field :commentable_id, :value => @question.id %>

        <%= f.text_area :content %>
        <%= f.submit %>
      <% end %>
    </div>
  <% end %>

</div>


<!--############## ANSWERS ###############-->

<div id="answers">
  <h3>Answers:</h3>
  <ul class="answers-list">
    <% @question.answers.each do |answer| %>
      <%= render :partial => 'shared/answer_display', :locals => { answer: answer } %>
    <% end %>
  </ul>
</div>

<!--############## NEW ANSWER ###############-->

<% if logged_in? && current_user != @question.user %>
  <h3>Submit an Answer:</h3>
  <%= render :partial => 'shared/new_answer_form', :locals => { question: @question, answer: @answer } %>
<% end %>