<h2><%= @user.full_name %>'s Profile</h2>
<h4>Email: <%= @user.email %></h4>

<div id="user-questions" class="questions-list">
  <h4>Question's posted by <%= @user.full_name %>:</h4>
  <% @user.questions.order("created_at DESC").each do |question| %>
    <%= render :partial => 'shared/question_display', locals: { question: question } %>
  <% end %>
</div>

<% if @user == current_user %>
  <h3>Create New Question:</h3>
  <%= render :partial => 'shared/new_question_form' %>
<% end %>

