

<li id="answer<%= answer.id %>" class="answer">

  <!--############## ANSWER DETAILS ###############-->
  <div class="answer-content">
    <p><%= answer.content %></p>
    <text class="answer-details">created by <a href="/users/<%= answer.user.id %>"><%= answer.user.full_name %></a> at <%= answer.created_at.strftime("%m-%d-%y at %H:%M") %></text>
  </div>

  <!--############## ANSWER VOTES ###############-->

  <div class="votes">
    <%= form_for :vote, url: '/votes', html: {class: "vote-form", "data-votable" => "answer#{answer.id}"}, remote: true do |f| %>
      <%= f.hidden_field :value, value: 1 %>
      <%= f.hidden_field :votable_type, value: "Answer" %>
      <%= f.hidden_field :votable_id, value: answer.id %>
      <button type="submit" name="button" class="upvote-button">
        <img src="/assets/upvote-arrow.png">
      </button>
    <% end %>
    <text class='vote_total' data-votable="answer<%= answer.id %>">
      <%= answer.vote_total %>
    </text>
    <%= form_for :vote, url: '/votes', html: {class: "vote-form", "data-votable" => "answer#{answer.id}"}, remote: true do |f| %>
      <%= f.hidden_field :value, value: -1 %>
      <%= f.hidden_field :votable_type, value: "Answer" %>
      <%= f.hidden_field :votable_id, value: answer.id %>
      <button type="submit" name="button" class="downvote-button">
        <img src="/assets/downvote-arrow.png">
      </button>
    <% end %>
  </div>

  <!--############## ANSWER COMMENTS ###############-->

  <div class="comment-list" data-commentable="answer<%= answer.id %>">
    <p class="comment-list-header">Answer Comments:</p>
    <ul>
      <% answer.comments.each do |comment| %>
        <%= render partial: 'shared/comment_display', locals: { comment: comment } %>
      <% end %>
    </ul>
  </div>

  <!--############## NEW COMMENT ###############-->

  <% if logged_in? %>
    <%= link_to "Add Comment", answer.question, :class => "comment-form-link" %>

    <div class="comment-form hidden">
      <%= form_for :comment, url: '/comments', html: { class: "new-comment", "data-commentable" => "answer#{answer.id}"}, remote: true do |f| %>
        <%= f.hidden_field :commentable_type, :value => "Answer" %>
        <%= f.hidden_field :commentable_id, :value => answer.id %>

        <%= f.text_field :content %>
        <%= f.submit %>
      <% end %>
    </div>
  <% end %>

</li>
