<ul>
  <%= form_for(:question, url: '/questions') do |f| %>
    <li>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </li>
    <li>
      <%= f.label :content %>
      <%= f.text_area :content %>
    </li>
    <li>
      <%= f.submit %>
    </li>
  <% end %>
</ul>