
<div id="<%= "question#{question.id}" %>" class="question-display">
  <h4><%= link_to question.title, question %></h4>
  <p><%= question.content %></p>
  <text class="question-details">created by <%= question.user.full_name %> at <%= question.created_at.strftime("%m-%d-%y at %H:%M") %></text>
  <% if current_user == question.user %>
    <%= link_to "Edit", edit_question_path(question) %>
    <%= link_to "Delete", question_path(question), :method => "delete" %>
  <% end %>
</div>