<h3>Question:</h3>
<p><%= @answer.question.title %></p>
<h3>Answer:</h3>
<p><%= @answer.content %></p>

<h3>Comments on this Answer:</h3>
<% @answer.comments.each do |comment| %>
  <p><%= "#{comment.content} (#{comment.user.full_name})"  %></p>
<% end %>

<h3>Submit Comment on Answer:</h3>
  <%= form_for @comment do |f| %>
    <%= f.hidden_field :commentable_type, :value => "Answer" %>
    <%= f.hidden_field :commentable_id, :value => @answer.id %>

    <%= f.text_area :content %>
    <%= f.submit %>
  <% end %>
