<!DOCTYPE html>
<html>
<head>
  <title>McIvorflow</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
  <header>
    <h1>Stack KivorFlow</h1>
    <nav>
      <ul class="nav nav-pills">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Questions", questions_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Profile", user_path(current_user) %></li>
          <li><%= link_to "Logout", session_path(current_user), :method => "DELETE" %></li>
        <% end %>
      </ul>
    </nav>
  </header>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
